.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.MasterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    width: 100vw;
    height: 65vh;
    color: white;
    z-index: 100;
  }
  
  .HeroText {
    font-size: 2.5em;
    font-weight: 200;
    margin: 0;
  }
  
  .JobText {
    font-size: 2.5em;
    font-weight: 200;
    text-align: center;
    margin: 0;
  }

  .ProjectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: white;
  }

  .ProjectsInnerContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .ButtonContainer {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .Email {
    color: #fff;
    text-decoration: none;
  }

  .Github {
    color: #fff;
    text-decoration: none;
  }

  /* @media only screen and (max-width: 768px) {
    .MasterContainer{
      align-items: flex-start;
    }
  } */